body{
    background-image: url('../img/background-login.jpg');
    background-size: cover;

}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

h1{
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    padding-top: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 110px;
    padding-top: 100px;
    padding-bottom: 15%;
    color: green;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: green;
}

#login-container{
    background-color: rgb(253, 253, 253);
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
}

.btn-Entrar{
    width: 150px;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: rgb(95, 145, 95);   
    color: white; 
}

.login-mensagem{
    color: brown;
}

input, a, label{
    display: block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
}