<body>
    <h1>AgroTI</h1>
    <div id="login-container">
        <h2>Login</h2>
        <form class="col-md-12" (submit)="acessar()">
            <input matInput type="text" class="row" id="Usuario" placeholder="Digite seu usuário" name="Usuario" required="true">
            <input matInput type="password" class="row" id="Senha" placeholder="Digite sua senha" name="Senha" required="true">
            <a href="#" class="row">Esqueceu sua senha?</a>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
