<body>
    <h1>AgroTI</h1>
    <div id="login-container">
        <h2>Login</h2>
        <form class="col-md-12" (submit)="acessar()">

            <mat-form-field class="example-full-width">
                <mat-label>Digite seu Usuário</mat-label>
                <input type="text" matInput placeholder="Usuário" [(ngModel)]="searchModel.Usuario" name="Usuario" required="true">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Digite sua Senha</mat-label>
                <input matInput type="password" class="row" id="Senha" [(ngModel)]="searchModel.Senha" placeholder="Senha" name="Senha" required="true">
            </mat-form-field>

            <label *ngIf="mensagem" class="login-mensagem" [innerHtml]="mensagem"></label>

            <button mat-button color="primary" class="btn-Entrar pt-2 pb-2" type="submit">Entrar</button>

            <a href="#" class="row">Esqueceu sua senha?</a>
        </form>
    </div>

</body>
