<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form" (submit)="acessar()">

                <span class="login100-form-title p-b-34 p-t-27">
                    Agro Ti
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Escreva usuario">
                    <input type="text" matInput placeholder="Usuário" [(ngModel)]="searchModel.Usuario" name="Usuario" required="true">
                </div>

                <div class="wrap-input100 validate-input" data-validate="Escreva senha">
                    <input matInput type="password" class="row" id="Senha" [(ngModel)]="searchModel.Senha" placeholder="Senha" name="Senha" required="true">
                </div>

                <div class="container-login100-form-btn">
                    <button mat-button color="primary" class="btn-Entrar pt-2 pb-2" type="submit">Entrar</button>
                </div>

                <div class="text-center p-t-90">
                    <a class="txt1" href="#">
                        Esqeuceu a senha?
                    </a>
                </div>

                <label *ngIf="mensagem" class="login-mensagem" [innerHtml]="mensagem"></label>

            </form>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>