<h1 mat-dialog-title>Novo Usuário</h1>

<form class="login100-form" (submit)="salvar()">

  <input type="number" matInput placeholder="Identificador" [(ngModel)]="searchModel.identificador" name="Identificador" required="true">
  <br/>
  <br/>
  <input type="text" matInput placeholder="Nome" [(ngModel)]="searchModel.nome" name="Nome" required="true">
  <br/>
  <br/>

  <label *ngIf="mensagem" class="login-mensagem" [innerHtml]="mensagem"></label>

  <div mat-dialog-actions>
    <button mat-button (click)="fechar()">Fechar</button>
    <button mat-button type="submit">Salvar</button>
  </div>

</form>

